services:
  db:
    image: postgres:16
    container_name: daejeon_air_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
